
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}




<h1>The other thing</h1>
<form action="/Processor" method="post" name="login">

    <select name="Language_Selector">
        <option value="c">c</option>
        <option value="c++">c++</option>
        <option value="java">java</option>             
    </select>
        
    <br><br>

    <textarea name="data" autocomplete="off" style="height: 400px; width: 400px"  > </textarea>
     
    <p><input type="submit" value="Run"></p>
</form>



{% endblock %}